.btn {
    &.is-white {
        border-color: var(--white);
        color: var(--white);

        &:hover, &:focus {
            background-color: var(--white);
            border-color: var(--white);
            color: var(--text);
        }
    }

    &.is-text {
        border: 0 none;
        color: currentColor;

        &:hover, &:focus {
            background-color: transparent;
            border-color: transparent;
        }
    }
}
