.sidebar {
    background: var(--off-white);
    min-height: 100vh;
    position: relative;
    width: 240px;
}

.sb-content {
    position: fixed;
    width: inherit;
}

.sb-border {
    border-bottom: var(--border) rgba(255,255,255,0.5);
    margin-bottom: var(--space);
}

.sb-user {
    color: var(--text);
    /* font-family: var(--font-hand); */
    font-weight: 600;
    padding: var(--space-md) var(--space-md);
    text-align: center;
}

.sb-user p {
    color: inherit;
    font-size: 1.1rem;
    font-family: inherit;
    font-weight: inherit;
}


/* avatar in sidebar */
.sb-user .avatar {
    border: 3px solid var(--biro);
    height: 70px;
    width: 70px;
    margin-bottom: var(--space-sm);
}

.sb-links {
    margin-left: var(--space-md);
    margin-top: var(--space-lg);
}

.sb-links li {
    margin-top: var(--space-sm);
}

.sb-links a {
    box-sizing: border-box;
    color: var(--text);
    display: flex;
    padding: var(--space-sm);
    text-decoration: none;
    width: 100%;
}

.sb-links img {
    filter: invert(20%);
    margin-right: var(--space-sm);
}

.sb-links a.active {
    /* background: var(--brick) url('./../assets/images/cork-bg.jpg') top center repeat; */
    background: var(--grey-c);
    border-radius: var(--space-md) 0 0 var(--space-md);
    /* box-shadow: inset 1px 1px 20px var(--brick); */
    /* color: var(--white); */
    /* text-shadow: 0 0 10px var(--brick); */
}

.sb-links .active img {
    filter: invert(30%);
}
