.error {
    /* background: var(--danger-bg); */
    color: var(--danger);
    font-size: 0.9rem;
    line-height: 1.2;
    position: relative;
    padding: 0 0 var(--space-sm);
        padding-left: calc(var(--space)  + var(--space-sm));
}

.error::before {
    --size: calc(var(--space) - var(--border-width)  - var(--border-width));

    border: var(--border);
    border-radius: 50%;
    content: '!';
    height: var(--size);
    width: var(--size);
    line-height: 1.2;
    font-weight: 600;
    position: absolute;
        top: 0;
        left: 0;
    text-align: center;
}


