.navbar {
    margin-bottom: var(--space-lg);
    padding: var(--space-lg) 0;
    width: 100%;
}

.navbar ul {
    display: flex;
        align-items: center;
        justify-content: flex-end;
    margin: 0 auto;
}
.navbar .logo {
    color: var(--heading-color);
    display: flex;
        align-items: center;
    font-weight: bold;
    margin-right: auto;
}
.navbar .logo img {
    filter: invert(25%);
    margin-right: var(--space-sm);
    margin-top: calc(var(--space-sm) * -1);
    width: var(--space-lg);
}
.navbar a {
    color: var(--grey-3);
    margin-right: var(--space);
    text-decoration: none;
}