.list-projects {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
        grid-gap: var(--space-md);
}

.avatar-list {
    display: flex;
        flex-wrap: wrap;
}

.avatar-list li {
    margin: 0 var(--space-sm) var(--space-sm) 0;
}

.avatar-list .avatar {
    display: block;
        width: 1.875rem;
        height: 1.875rem;
}

.list-projects a {
    color: currentColor;
    text-decoration: none;
}

.list-projects h4{
    color: var(--theme-primary);
}

.list-projects p {
    color: var(--text);
}

