.note {
    /* order: 1; */
    display: flex;
        flex-direction: column;
    background: var(--white);
    border-radius: var(--radius-lg);
    box-shadow:  var(--box-shadow);
    color: var(--heading);
    margin: 0 auto 0 0 ;
    padding: 0 var(--space) var(--space);
    /* overflow: hidden; */
    transition: all 0.3s ease;
    position: relative;
}

.note[data-background] {
    background: attr(data-background)
}
.note-header {
    --icon-size: 1rem;
    background: transparent;
    display: flex;
        justify-content: flex-start;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: var(--icon-size);
}

.note-header .checkable {
    margin: 0;
    padding: var(--space-sm);
    padding-left: 0;
        /* top: var(--space-xs);
        right: var(--space-xs); */
}


.note-pin {
    display: block;
    height: 2rem;
    position: absolute;
        top: -0.5rem;
        right: -1.25rem;
    filter: sepia(1) hue-rotate(160deg) saturate(3);
}

.note img {
    display: block;
    max-width: 100%;
}

.note-footer  {
    display: flex;
        align-items: center;
    margin-top: auto;
}

.note-footer .avatar {
    --size: 1.2rem;
    height: var(--size);
    width: var(--size);
}

.note-footer p {
    margin: 0;
    padding: 0;
}

.note a {
    color: currentColor;
    text-decoration: none;
}

.note h4{
    color: var(--theme-primary);
}

.note p {
    color: var(--text);
    font-family: var(--font-hand);
    font-weight: 600;
}

.note-image {
    margin-bottom: var(--space-sm);
}

.note-message {
    font-size: 1.3rem;
}



.note input:checked~img {
    opacity: 1;
}


.note .checkable img {
    height: var(--icon-size);
    width: var(--icon-size);
    opacity: 0.5;
}

.note .checkable:hover img,
.note .checkable:focus img {
    opacity: 1;
}

/* .list-avatars {
    display: flex;
        flex-wrap: wrap;
}

.list-avatars li {
    margin: 0 var(--space-sm) var(--space-sm) 0;
}

.list-avatars .avatar {
    display: block;
        width: 1.875rem;
        height: 1.875rem;
} */

.note-details {
    flex: 0 0 auto;
    margin-bottom: var(--space-md)
}

.note-comments {
    flex: 0 0 auto;
    margin-left: var(--space);
}

.comment {
    display: grid;
        grid-gap: 0 var(--space-sm);
        grid-template-areas:
            'date date date'
            'comment comment comment'
            'author blank blank';
    justify-content: start;
}

.user-authored {
    grid-template-areas:
        'date date delete'
        'comment comment comment'
        'blank blank author';
    justify-content: end;
}

.comment p {
    margin: 0;
    padding: 0;
}

.comment-content {
    grid-area: comment;

    background: var(--grey-d);
    border-radius: var(--radius-lg);
    border-bottom-left-radius: 0;
    padding: var(--space-sm);
}

.user-authored .comment-content {
    border-bottom-left-radius: var(--radius-lg);
    border-bottom-right-radius: 0;
}

.comment-author {
    grid-area: author;

    position: relative;
}

.comment-author::after {
    width: 0;
    height: 0;
    border-width: var(--space) var(--space) 0  0 ;
    border-color: var(--grey-d) transparent transparent transparent;
    border-style: solid;
    content: '';
    position: absolute;
        bottom: auto;
        left: 0;
}

.user-authored .comment-author::after {
    border-width: 0 var(--space) var(--space) 0;
    border-color: transparent var(--grey-d) transparent transparent;
    left: auto;
    right: 0;
}


.comment-author {
    grid-area: author;
    text-align: right;
}

.comment-author .avatar {
    --size: 1.6rem;
    height: var(--size);
    width: var(--size);
    margin-top: var(--space-sm);
}

.comment-date {
    grid-area: date;
    font-weight: 300;
    font-size: 0.8rem;
    margin-left: auto;
}

.user-authored .comment-date {
    text-align: right;
}

.comment-delete {
    grid-area: delete;
    margin-left: auto;

    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.comment:hover .comment-delete {
    opacity: 1;
}


