@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&family=Klee+One:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

/* variables */
:root {
    --font: Poppins, sans-serif;
    --font-hand: 'Klee One', cursive;
    --space: 1rem; /* 20px -> 1.25rem */
    --space-xs: .25rem; /* 8px -> .5rem */
    --space-sm: .5rem; /* 8px -> .5rem */
    --space-md: 2rem; /* 30px -> 1.875rem */
    --space-lg: 2.5rem; /* 40px -> 2.5rem */
    --radius: .25rem; /* 4px -> .25rem */
    --radius-lg: 0.5rem;
    --border-width: 2px;
    --border-width-wide: 3px;
    --border: var(--border-width) solid;
    --max-content-width: 60rem; /* 960px -> 60rem */
    --max-form-width: 23rem;
    --max-form-width-md: 30rem;
    --box-shadow: 0px 8px 10px rgba(0,0,0,0.25);
    --transition: 200ms ease-in-out;

    --white: #fff;
    --grey-e: #eee;
    --grey-d: #ddd;
    --grey-c: #ccc;
    --grey-b: #bbb;
    --grey-9: #999;
    --grey-7: #777;
    --grey-5: #555;
    --grey-4: #444;
    --grey-3: #333;
    --grey-2: #222;
    --black: #111;


    --white: #fff;
    --red: #AE2033;
    --pale-pink: #FFEBE8;
    --pale-yellow: #FFEBE8;
    --brick: #793b1d;
    --cream: #FFE7D3;
    --biro: #2F4858;
    --off-white: #DFE0DF;

    --heading: #554062;
    --text: var(--biro);
    --heading-alt: var(--white);
    --text-alt: var(--white);
    --theme-primary: #5F8C3B;
    --theme-alt: #DFC26B;
    --theme-alt-dark: #C9AD5A;
    --bg-color: #f4f4f4;
    --danger: var(--red);
    --danger-bg: var(--pale-pink);
    --success: #00CE72;

    --sidebar-space-h: var(var(--space-md));

    --note-yellow: #ffe040;
    --note-pink: #edafbc;
    --note-blue: #b2cde8;
    --note-green: #d1e6dd;
}

/* base styles */
body {
    background: var(--brick) url('./assets/images/cork-bg.jpg') top left repeat;
    /* background-size: 10rem auto; */
    /* background-attachment: fixed; */
    font-family: Poppins, sans-serif;
    font-size: 16px;
    margin: 0;
}

p, h1, h2, h3, h4, input, select, textarea, .react-select-container {
    margin: 0 0 var(--space);
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0 0 var(--space-sm);
    padding: 0;
}

li {
    margin: 0 0 var(--space-sm);
    padding: 0;
}

.card {
    background: var(--white);
    border-radius: var(--radius-lg);
    box-shadow:  var(--box-shadow);
    color: var(--heading);
    margin: 0;
    padding: var(--space);
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
}

.card-header {
    background-color:  var(--theme-alt);
    color: var(--white);
    font-weight: 600;
    margin: calc(var(--space) * -1);
        margin-bottom: var(--space);
    padding: var(--space);
}

.card img {
    display: block;
    max-width: 100%;
}

/* layout */
.page-title {
    color: var(--heading);
    display: inline-block;
    font-size: 1em;
}

.btn, button[type="submit"] {
    background: transparent;
    border-radius: var(--radius);
    border: var(--border) var(--theme-primary);
    color: var(--theme-primary);
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    padding: var(--space-sm) var(--space);
}

.btn:hover, button[type="submit"]:hover {
    background-color: var(--theme-primary);
    color: var(--white);
}

button[type="submit"] {
    background: transparent;
    border-radius: var(--radius);
    /* border: var(--border) var(--theme-alt);
    color: var(--theme-alt-dark); */
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    padding: var(--space-sm) var(--space);
}

/* button[type="submit"]:hover {
    background-color: var(--theme-alt-dark);
    border-color: var(--theme-alt-dark);
    color: var(--white);
} */

button[type="reset"] {
    border-color: var(--text);
    border-width: thin;
    color: var(--text);
    font-weight: 500;
}

.btn.is-white {
    border-color: var(--white);
    color: var(--white);
}

.btn.is-white:hover, .btn.is-white:focus {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--text);
}

button[type="reset"]:hover {
    background: transparent;
    border-color: var(--danger);
    color: var(--danger);
}


button:disabled {
    filter: grayscale(0.75);
    font-weight: 400;
    pointer-events: none;
}

/* forms */
form {
    max-width: var(--max-form-width-md)
}

.form-actions {
    border: none;
    display: flex;
        justify-content: space-between;
    margin: 0;
    padding: 0;
}

label {
    color: var(--heading);
    display: block;
    margin: 0 auto var(--space-sm);
}

input, textarea, select, .react-select__control {
    appearance: none;
    -webkit-appearance: none;
    background-color: var(--white);
    border-radius: var(--radius);
    border: 1px solid var(--grey-d);
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 0.9rem;
    width: 100%;
}

input, textarea, select {
    padding: var(--space-sm) var(--space);
}

input[type="checkbox"], input[type="radio"] {
    appearance: auto;
    -webkit-appearance: auto;
    background: transparent;
    width: auto;
}

textarea {
    min-height: 160px;
}

.checkable {
    cursor: pointer;
    position: relative;
}

.checkable img {
    transition: opacity var(--transition)
}


.checkable input {
    appearance: none;
    cursor: pointer;
    opacity: 0;
    margin: 0;
    padding: 0;
    position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    z-index: 10;
}

.checkable.has-swatch {
    display: flex;
    line-height: 1;
    padding: var(--space-xs);
    padding-left: calc(var(--space) + var(--space-xs));
    position: relative;
}

.checkable .swatch{
    border-radius: 50%;
    display: inline-block;
    height: var(--space);
    min-width: var(--space);
    max-width: var(--space);
    margin: auto;
    position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
    transition: all var(--transition);
}

.checkable-text {
    position: relative;
    z-index: 1;
}

.checkable input:checked~.swatch{
    border-radius: 0;


min-width: 100%;
min-height: 100%;
}
.checkable-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.checkable-list li {
    margin: 0;
    padding: 0;
}

.checkable-list label {
    cursor: pointer;
    margin: 0 var(--space) var(--space-sm) 0;
}

.checkable-list input {
    margin-right: var(--space-xs);
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.cols {
    display: flex;
}

/* .error {
background: var(--danger-bg);
border-radius: var(--radius);
border: var(--border) var(--danger);
color: var(--danger);
margin: var(--space-sm) 0;
padding: var(--space-sm);
} */