.navbar {
    background: var(--theme);
    color: var(--white);
    padding: var(--space);
    padding-top: var(--space-lg)
  }
  .navbar nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  .navbar a.brand {
    color: var(--white);
    margin-right: auto;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
  }

  .navbar .btn-outlined {
    color: currentColor;
    border-color: currentColor;
    margin-left: var(--space-lg);
  }