.recipe-list {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--space-lg);
    list-style: none;
    max-width: 1200px;
    margin: var(--space-lg) auto;
    padding: 0;
  }

  .recipe-list a {
    color: var(--text);
    text-decoration: none;
  }
  .recipe-list h3 {
    color: var(--heading);
    margin-bottom: var(--space-sm);
  }
  .recipe-list h4 {
    color: var(--heading);
    font-weight: normal;
  }
  .recipe-list p {
    font-size: 0.9rem;
    margin: var(--space) 0;
    line-height: 1.5em;
  }

  .recipe-list .card:hover {
    transform: scale(1.05);
  }

  .recipe-list .delete {
    /* border-radius: 50%; */
    height: 1.35rem /* 20px -> 1.25rem */;
    opacity: 0;
    padding: 0.15rem;
    position: absolute;
      top: var(--space-sm);
      right: var(--space-sm);
    /* transition: background var(--transition); */
  }

  .recipe-list .card:hover .delete {
    opacity: 0.5;
  }

  .recipe-list .card:hover .delete:hover {
    /* background: var(--red); */
    opacity: 1;
    transform: none;
  }

  /* .recipe-list  .icon-delete {
    transition: filter var(--transition);
  } */

  /* .recipe-list .delete:hover .icon-delete {
    filter: invert(1)
  } */