.recipe-list {
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--space-lg);
    list-style: none;
    max-width: 1200px;
    margin: var(--space-lg) auto;
    padding: 0;
  }

  .recipe-list a {
    color: var(--text);
    text-decoration: none;
  }
  .recipe-list h3 {
    color: var(--heading);
    margin-bottom: var(--space-sm);
  }
  .recipe-list h4 {
    color: var(--heading);
    font-weight: normal;
  }
  .recipe-list p {
    font-size: 0.9rem;
    margin: var(--space) 0;
    line-height: 1.5em;
  }
  .recipe-list .card:hover {
    transform: scale(1.05);
  }