@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

/* base styles */
html, body, #root {
  height: 100%;
}
body {
  font-family: Raleway, sans-serif;
  margin: 0;
  font-size: 16px;
  background: var(--grey-df);
  color: var(--text);
}

main {
  background: var(--bg-outer);
  color: var(--text);
}

h1,h2,h3, h4, h5, h6, p, address, ul, li, label, input, textarea, button {
  margin: 0 0 var(--space);
  padding: 0
}

h1,h2,h3, h4, h5, h6 {
  color: var(--heading);
}

label {
  font-weight: bold;
  margin-bottom: var(--space-sm);
}

input, textarea {
  background-color: var(--bg-outer);
  border-radius: var(--radius);
  border: var(--border-width) solid var(--bg);

  display: block;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  margin-bottom: var(--space);
  padding: var(--space-sm);
  width: 100%;
}

.mode-dark input {
  background-color: var(--text);
  color: var(--bg-outer);
}

.mode-dark textarea {
  background-color: var(--text);
  color: var(--bg-outer);
}

.page-title {
  margin: var(--space-lg) auto;
  text-align: center;
}
.loading, .error {
  margin: var(--space-lg) auto;
  text-align: center;
}

.cols {
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
  flex: 1;
}

.btn {
  background: var(--bg-outer);
  color: var(--theme-alt);
  border-radius: var(--radius);
  border: 0;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 0.95rem;
  /* width: 100px; */
  margin: var(--space) auto 0;
  padding: var(--space-sm);

  text-align: center;
  text-decoration: none;
}

.mode-dark .btn {
  background: var(--grey-b);
}

.btn-outlined {
  background: transparent;
  border: var(--border-width) solid var(--theme);
  border-radius: var(--radius);
  color: var(--theme);
  font-weight: bold;
  cursor: pointer;
  padding: calc(var(--space-sm) - var(--border-width)) var(--space-sm);
  text-decoration: none;
}

.mode-dark .btn-outlined {
  border-color: var(--text);
  color: var(--text);
}

.btn-outlined:hover {
  border-color: var(--heading);
  color: var(--heading);

}

.btn-outlined:focus {
  border-color: var(--heading);
  color: var(--heading);
}

.card {
  background: var(--bg);
  border-radius: var(--radius);
  box-shadow:  var(--shadow);
  color: var(--heading);
  margin: 0;
  padding: var(--space);
  transition: all 0.3s ease;
  position: relative;
}

